@import "tailwindcss";

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/Nohemi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/Nohemi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nohemi';
  src: url('../public/fonts/Nohemi-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

